.navbar {
  background: white;

  
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Navbar specific styles */
.navbar {
  background-color: #000000;
  
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.menuIcon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar,
.barOpen {
  width: 25px;
  height: 3px;
  background-color: #fff;
  
  transition: 0.4s;
}

.navMenu {
  display: flex;
  list-style: none;
}

.navMenuOpen {
  display: block;
}

.navItem {
  margin-left: 2rem;
}

.navLink {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

/* Responsive styles */
@media (max-width: 768px) {
  .menuIcon {
    display: flex;
  }

  .navMenu {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navMenuOpen {
    display: flex;
  }

  .navItem {
    
  }
}

.logo {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.menuIcon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar,
.barOpen {
  width: 25px;
  height: 3px;
  background-color: #fff;

  transition: 0.4s;
}

.navMenu {
  display: flex;
  list-style: none;
}

.navMenuOpen {
  display: block;
}

.navItem {
  
}

.navLink {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .menuIcon {
    display: flex;
  }

  .navMenu {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navMenuOpen {
    display: flex;
  }

  .navItem {
  
  }
}
